@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_M_Layout_Logined.cshtml";
}

<div class="container-fluid">
    <ol class="breadcrumb mb-4" style=" margin-top: 10px">
        <li class="breadcrumb-item"><a href="~/Manager/DashBoard">Dashboard</a></li>
    </ol>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/dataTable/scripts.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/dataTable/datatables-demo.js"></script>
