.project-tab {
    padding: 10%;
    margin-top: -8%;
}

    .project-tab #tabs {
        background: #007b5e;
        color: #eee;
    }

        .project-tab #tabs h6.section-title {
            color: #eee;
        }

        .project-tab #tabs .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            color: #0062cc;
            background-color: transparent;
            border-color: transparent transparent #f3f3f3;
            border-bottom: 3px solid !important;
            font-size: 16px;
            font-weight: bold;
        }

    .project-tab .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #0062cc;
        font-size: 16px;
        font-weight: 600;
    }

        .project-tab .nav-link:hover {
            border: none;
        }

    .project-tab thead {
        background: #f3f3f3;
        color: #333;
    }

    .project-tab a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }

.step1 {
    padding-left: 0cm;
    padding-right: 0;
    font-weight: 600px;
}

.col-lg-8 .img-responsive {
    width: 100%;
    max-width: 730px;
    height: auto;
}

.footer-section {
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url(/assets/payassets/images/bk-h6-1080x1080.jpg);
    box-shadow: inset 0 0 0 2000px rgba(23, 162, 184, 0.5);
}

.pay-nav .nav-bar {
    background-color: #fff;
}

.pay-nav .navbar-toggler {
    border: 0cm;
}

.pay-nav .navbar-brand {
    color: #000;
    height: 30%;
    width: 60%;
}

.pay-nav .nav-item a {
    display: -webkit-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #000
}

.pay-nav .nav-item button {
    align-items: center;
    align-content: center;
    justify-content: center;
}

.pay-nav .nav-item span {
    padding-right: 0.4em;
    line-height: 0.5em;
    position: relative;
    vertical-align: text-bottom;
}

.pay-nav .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: center;
    align-self: center;
}

.pay-nav .navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 600;
}

.pay-nav .btn {
    -webkit-box-align: center;
    align-items: center;
    display: inline-table;
    align-self: center;
    font-weight: 600;
    color: #fff;
    border-radius: 0.8em;
    margin-right: 0.5em;
    width: 140px;
    height: 40px;
}

.pay-nav .btn-navHome {
    color: #000;
    margin-right: 0em;
    background-color: white;
    border-color: #fff;
}

.pay-nav .nav-Home .btn-primary:hover {
    background-color: #17a2b8;
}

.pay-nav .btn-primary:focus {
    box-shadow: none;
}

.pay-nav .btn-primary:hover {
    color: #fff;
    background-color: #007486;
    border-color: #fff;
}

.pay-nav .nav-item .btn {
    align-self: center;
}

.pay-nav .btn-primary:active {
    color: #17a2b8;
    border-color: #17a2b8;
    background-color: white;
}
.wrap-input100 {
    width: 100%;
    background-color: #fff;
    border-radius: 31px;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
    margin-top: 16px;
}

.input100 {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    font-family: unset;
    font-size: 16px;
    color: #000;
    line-height: 1.2;
    border-color: #17a2b8;
}
/*---------------------------------------------*/

input.input100 {
    height: 62px;
    padding: 0 35px 0 35px;
}

textarea.input100 {
    min-height: 100px;
    padding: 19px 35px 0 35px;
}

.validate-input {
    position: relative;
}

textarea:focus,
input:focus {
    outline: none;
}