.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 35%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 30%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #17a2b80a;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1em;
    margin-right: 25px;
}

.cart-row:last-child {
}

    .cart-row:last-child .cart-column {
        border: none;
    }

.cart-total {
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    display: inline-flex;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
    display: -ms-flexbox;
}

.btn-purchase {
    margin: 0.4px auto 0.4px auto;
    font-size: 1.2em;
    align-self: center;
    background-position: center;
    display: run-in
}

}

button.btn.btn-danger {
    padding: 0.8em 1.0em;
    border-radius: 8px;
    background-color: #17A2B8;

}
.cart-quantity button.btn.btn-danger:hover{
    border-color:none
    background-color: #1177aa;
}

