
@{
    ViewBag.Title = "Chef";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="engine"><a href="https://mobirise.info/o">portfolio site templates</a></section>
<section class="mbr-section content5 cid-s2h0Bx5c2F" id="content5-1h">





    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">Chef</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Please get new food to process</h3>


            </div>
        </div>
    </div>
</section>

<section class="mbr-section content8 cid-s2h0HOricl" id="content8-1j">



    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-primary display-4" href="#">Get new food</a>
                    <a class="btn btn-black-outline display-4" href="#">Complete</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services5 cid-s2h1EpyciQ" id="services5-1l">
    <!---->
    <!---->
    <!--Overlay-->
    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title pb-5 col-12">
                <h2 class="align-left mbr-fonts-style m-0 display-1">
                    Complete List
                </h2>

            </div>
            <!--Card-1-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">
                                Salad
                            </h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                x3
                            </p>
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                Order ID: 123456
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-2-->
            <!--Card-3-->
            <!--Card-4-->
            <!--Card-5-->
            <!--Card-6-->
            <!--Card-7-->
            <!--Card-8-->
            <!--Card-9-->
            <!--Card-10-->
            <!--Card-11-->
            <!--Card-12-->

        </div>
    </div>
</section>

