@model SFC.Models.FoodList
@{
    ViewBag.Title = "Pay Order";
}
<link rel="stylesheet" href="~/assets/socicon/css/payStyles.css">
<script src="~/assets/myJS/myJS.js" async></script>
<script>
    if (document.readyState == 'loading') {
        document.addEventListener('DOMContentLoaded', ready)
    } else {
        ready()
    }
    function ready() {
        var removeCartItemButtons = document.getElementsByClassName('btn-danger')
        for (var i = 0; i < removeCartItemButtons.length; i++) {
            var button = removeCartItemButtons[i]
            button.addEventListener('click', removeCartItem)
        }

        var quantityInputs = document.getElementsByClassName('cart-quantity-input')
        for (var i = 0; i < quantityInputs.length; i++) {
            var input = quantityInputs[i]
            input.addEventListener('change', quantityChanged)
        }
        document.getElementsByClassName('btn-purchase')[0].addEventListener('click', purchaseClicked)
    }
</script>

<section class="mbr-section content5 cid-s2gNlDMF3j" id="content5-r">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">MY CART</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Please check your order carefully</h3>


            </div>
        </div>
    </div>
</section>

<section class="container container-fluid">
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>

    <div class="cart-items">
        @foreach (var item in Model.getCartItems())
        {
            <div class="cart-row">
                <div class="cart-item cart-column">
                    <img class="cart-item-image" src="@item.src" height="100">
                    <span class="cart-item-title">@item.name</span>
                </div>
                <span class="cart-price cart-column">$@item.price.ToString()</span>
                <div class="cart-quantity cart-column">
                    <input class="cart-quantity-input" type="number" value="@item.quantity" min="0">
                    <button class="btn btn-danger" type="button">REMOVE</button>
                </div>
            </div>
        }
    </div>

</section>

<div class="cart-total">
    <strong class="cart-total-title">Total</strong>
    <span class="cart-total-price">$@Model.getTotalCost()</span>
</div>

<div class="align-center">
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</div>

<section class="mbr-section content8 cid-s2gMfRE15Z" id="content8-m"></section>
