@{
    ViewBag.Title = "About us";
}
<section class="engine"><a href="https://mobirise.info/p">site templates free download</a></section>
<section class="mbr-section content5 cid-s2gYFsi540" id="content5-1c">





    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">About Us</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">We are trying hard to introduce Smart Food Court System</h3>


            </div>
        </div>
    </div>
</section>

<section class="testimonials1 cid-s2gYITriqs" id="testimonials1-1e">




    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">
                    WE ARE 3NUT GROUP
                </h2>
                <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5">
                    Faculity of Computer Science and Engineering&nbsp;
                </h3>
            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="media-container-row">
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="~/assets/images/hcmut-122x117.png" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">Vo Hoang Hai Nam</p>
                    </div>
                    <div class="card-footer">


                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="~/assets/images/hcmut-122x117.png" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Huynh Thi Uyen
                        </p>
                    </div>
                    <div class="card-footer">


                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="~/assets/images/hcmut-122x117.png" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Dang Ngoc Tam
                        </p>
                    </div>
                    <div class="card-footer">


                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="~/assets/images/hcmut-122x117.png" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">Nguyen Hoang Nhat</p>
                    </div>
                    <div class="card-footer">


                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="~/assets/images/hcmut-122x117.png" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Tran Trong Nghia
                        </p>
                    </div>
                    <div class="card-footer">


                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-s2h0adhtbQ" id="content2-1f">



    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-4">
                <blockquote><p><strong>About our project</strong></p><p><strong>We use .......</strong></p></blockquote>
            </div>
        </div>
    </div>
</section>
